@{
    ViewData["Title"] = "Lab2 Home Page";
}

<h2>Form parameters parsing demo </h2>
<ul>
    <li>
        <a href="/Calc/ManualParsingInSingleAction">Manual parsing in single action</a>
    </li>
    <li>
        <a href="/Calc/ManualParsingInSeparateActions">Manual parsing in separate actions</a>
    </li>
    <li>
        <a href="/Calc/ModelBindingParametrs">Model binding (parametrs)</a>
    </li>
    <li>
        <a href="/Calc/ModelBindingSeparateModel">Model binding (separate model)</a>
    </li>
</ul>