@{
    ViewData["Title"] = "ManualParsingInSeparateActions";
}

<h2>ManualParsingInSeparateActions</h2>
<form method="post" action="~/Calc/Count2">
    <input name="input1" />
    <select name="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input name="input2" />
    <input type="submit" />
</form>