@{
    ViewData["Title"] = "ModelBindingSeparateModel";
}

<h2>ModelBindingSeparateModel</h2>
<form method="post" action="~/Calc/Count4">
    <input name="value1" />
    <select name="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input name="value2" />
    <input type="submit" />
</form>