
@{
    ViewData["Title"] = "index";
}

<br />
<h3>Multy-Staged forms</h3>
<br />

<ul>
    <li>
        <h4>
            <a asp-controller="Multy" asp-action="SignUpFirst">Sign Up</a>
        </h4>
    </li>
    <li>
        <h4>
            <a asp-controller="Multy" asp-action="ResetPassword">Reset Password</a>
        </h4>
    </li>
</ul>