@model Lab4.Models.ResetModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Reset Password</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <label><b>Email</b></label><br />
    <input type="text" name="Email" /><br />
    <br />
    <button class="btn btn-primary col-md-auto" style="display: inline" type="submit" name="action" value="Send">Send me a code</button><br />
    <br />
    <button class="btn btn-primary col-md-auto" style="display: inline" type="submit" name="action" value="NoSend">I have a code</button>
</form>