@{
    ViewData["Title"] = "CheckBox";
}
<h2>Check Box</h2>
<form method="post">
    <input type="checkbox" name="isSelected" value="true" /><label>&nbsp;Selected</label><br />
    <input class="btn btn-primary col-md-auto" style="display: inline" type="submit" value="Save" />
</form>