
@{
    ViewData["Title"] = "ListBox";
    if (ViewBag.ListBox == null)
    {
        <form class="row">
            <div class="col-md-3">
                <h2>ListBox</h2>
                <br />
                <h3>Month</h3>
                <select name="ListBox" size="6" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected value="January">January</option>
                    <option value="Febuary">Febuary</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <br />
                <button formmethod="post" formaction="~/Controls/Save_ListBox" class="btn btn-primary col-md-3" style="display: inline" type="submit">Save</button>
            </div>
        </form>
    }
    else
    {
        <h2>ListBox</h2>
        <br />
        <h3><b>Month:</b></h3>
        <h3>@ViewBag.ListBox</h3>
    }
}