
@{
    ViewData["Title"] = "TextArea";
    if (ViewBag.TextArea == null)
    {
        <form class="row">
            <div class="col-md-3">
                <h2>TextBox</h2>
                <br />
                <h3>Text</h3>
                <textarea name="TextArea" class="form-control col-md-1" style="display: inline"></textarea>
                <br />
                <button formmethod="post" formaction="~/Controls/Save_TextArea" class="btn btn-primary col-md-3" style="display: inline" type="submit">Save</button>
            </div>
        </form>
    }
    else
    {
        <h2>TextArea</h2>
        <br />
        <h3><b>Text:</b></h3>
        <h3>@ViewBag.TextArea</h3>
    }
}