
@{
    ViewData["Title"] = "TextBox";
    if (ViewBag.TextBox == null)
    {
        <form class="row">
            <div class="col-md-3">
                <h2>TextBox</h2>
                <br />
                <h3>Text</h3>
                <input name="TextBox" class="form-control col-md-1" style="display: inline" placeholder="Text" />
                <br />
                <button formmethod="post" formaction="~/Controls/Save_TextBox" class="btn btn-primary col-md-3" style="display: inline" type="submit">Save</button>
            </div>
        </form>
    }
    else
    {
        <h2>TextBox</h2>
        <br />
        <h3><b>Text:</b></h3>
        <h3>@ViewBag.TextBox</h3>
    }
}