
@{
    ViewData["Title"] = "index";
}

<h3>Controls</h3>
<br />

<ul>
    <li>
        <h4>
            <a href="/Controls/TextBox">TextBox</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Controls/TextArea">TextArea</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Controls/CheckBox">CheckBox</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Controls/Radio">Radio</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Controls/DropDownList">DropDownList</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Controls/ListBox">ListBox</a>
        </h4>
    </li>
</ul>

