
@{
    ViewData["Title"] = "index";
}

<br />
<h3>Multy-Staged forms</h3>
<br />

<ul>
    <li>
        <h4>
            <a href="/MultyStaged/SignUp_Stage1">Sign Up</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/MultyStaged/ResetPassword_Stage1">Reset Password</a>
        </h4>
    </li>
</ul>