
@{
    ViewData["Title"] = "ResetPassword";
    switch (ViewBag.Stage)
    {
        case 1:
            <h2>Reset you password</h2>

            <form class="row">
                <div class="col-md-3">
                    <input name="email" type="email" class="form-control col-md-3" placeholder="Enter Email" /><br />
                    <button formmethod="post" formaction="~/MultyStaged/ResetPassword_Stage2_SendCode" class="btn btn-primary col-md" style="display: inline" type="submit">Send me a code</button>
                    <button formmethod="post" formaction="~/MultyStaged/ResetPassword_Stage2_HaveCode" class="btn btn-secondary col-md" style="display: inline" type="submit">I have a code</button>
                </div>
            </form>
            break;
        case 2:
            <h2>Reset you password</h2>

            <form class="row">
                <div class="col-md-3">
                    <input name="code" type="number" class="form-control col-md-3" placeholder="Enter Code" /><br />
                    <button class="btn btn-primary col-md" style="display: inline">Verify</button>
                </div>
            </form>
            break;

        default:
            break;
    }
}